html, body {
     position: relative;
     overflow: hidden;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
}

#renderCanvas {
     position: absolute;
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     touch-action: none;
}

#overlay {
     position: absolute;
     top: 10px;
     right: 10px;
     z-index: 10;
}